/*
Theme Name: Divi Child 02
Theme URI: http://www.elegantthemes.com/gallery/divi/
Template: Divi
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
Description: Smart. Flexible. Beautiful. Divi is the most powerful theme in our collection.
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 3.0.42.1505275201
Updated: 2017-09-13 12:00:01

*/
/*Roma CSS 170915*/

/*tab*/
/*Vertical Tabs*/
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.service-img img{
  height: 150px;
}
.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  padding: 0;

}
ul.tabs{
  padding: 0px !important;
}
.tabs li{
  width: 180px; /*subele los Pixeles Si el texto es mas largo*/
  list-style: none;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    /*top: 3px;*/
    /*Animación*/
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: rgba(255,255,255,0.5);
  top: 0;
}


[id^=tab]:checked + label {
  background: #D8CBBA;
  color: white;
  top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.btn-sidebar{
  width: 100%;
  font-size: 20px !important;
}
.service-four .service-img img{
  height: 150px !important;
}
.et_pb_button_module_wrapper{
  margin-bottom: 0!important;
  margin-top: -1px;
}
footer{
  position: relative;
}
#main-footer{
  position: relative;
}
#main-footer::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-image: url('http://ec2-54-255-252-43.ap-southeast-1.compute.amazonaws.com/bicycle/wp-content/uploads/2017/09/bamboo-1.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 107%;
  z-index: 0;

}
#main-footer::before{
  content:'';
  position: absolute;
  right: 20px;
  bottom: 0;
  display: block;
  background-image: url('http://ec2-54-255-252-43.ap-southeast-1.compute.amazonaws.com/bicycle/wp-content/uploads/2017/09/bamboo-2.png');
  background-repeat: no-repeat;
  width: 224px;
  height: 92%;

}
#footer-widgets{
  position: inherit;
  z-index: 20;
  height: 415px;
}
.footer-widget{
  color: #666 !important;
}
#footer-info{
  color: #000;
  position: inherit;
  z-index: 20;
  font-size: 14px !important;
}

@media screen and (max-width: 1023px) {
  #main-footer::before{
    content:'';
    display: none;
  }
  #main-footer::after{
    content:'';
    display: none;

  }


}
input[type=text], input[type=password], input[type=tel], input[type=email], input.text{
height: 35px !important;
width: 48%;
padding: 0px 10px;
}
form p{
  padding-bottom: 1.2em;

}

#text-5{
  width: 100%;
  position: relative;
}

form{
  position: relative;
}
form > p:nth-child(6){
  height: 0px;

}
textarea{
  width: 50%;
  position: relative;
  left: 50%;
  top:-207px;
  padding: 10px 10px;

}
.form-submit input{
  width: 100px;
  background-color: grey;
  border: none;
  height: 35px;
  color:#fff;
  position: relative;
  left: 20px;
  /*margin-bottom: 50px;*/
  top:-20px;
}

#text-3 .textwidget{
  width: 125%;
  display: inherit;
}
#text-4{
  margin-left: 18px;
}
/*footer-links*/
.footer-link-item a{
  color: #666 !important;
  font-size: 16px !important;
}
.footer-link-item {
  color: #666 !important;
  font-size: 16px !important;
  padding-bottom: 20px;
}
.link-toggle{
  display: none;
}

@media screen and (max-width: 768px) {
  input[type=text], input[type=password], input[type=tel], input[type=email], input.text{
    width: 100%;
  }
  textarea{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 10px 10px;

  }
  form > p:nth-child(6){
    height: 100%;

  }
  .form-submit input{
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {



}
/*Enosh CSS 170919*/
